.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  max-width: 1200px;
  margin: 30px auto;

  @media only screen and (max-width: 525px) {
    margin: 30px 9px;
  }
}
