html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
  color: #11698e;

  &:hover,
  &:active,
  &:focus {
    color: #19456b;
  }
}

button {
  background-color: #f30a49;
  color: white;
  outline: 0;
  border-radius: 10px;
  border-color: black;
  font-weight: bold;
  font-size: 16px;
  border-width: 3px;

  &:hover {
    background-color: #a50731;
    cursor: pointer;
  }
}

* {
  box-sizing: border-box;
}
