.welcomeText {
  display: inline-block;
  font-size: 42px;
  text-transform: none;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  margin: 0;

  @media only screen and (max-width: 525px) {
    width: 100%;
    text-align: center;
  }
}

.subwelcomeText {
  font-size: 60px;
  text-transform: none;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  margin: 0;

  @media only screen and (max-width: 525px) {
    text-align: center;
  }
}

.overviewTextContainer {
  max-width: 600px;
}

.overviewText {
  text-align: justify;
  animation: secondFadeIn ease 4s;
  -webkit-animation: secondFadeIn ease 4s;
  line-height: 30px;
}

.buttonGo {
  padding: 10px 20px;
  animation: secondFadeIn ease 4s;
  -webkit-animation: secondFadeIn ease 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes secondFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes secondFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes secondFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes secondFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes secondFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
