.menuContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
  width: 25%;

  @media only screen and (max-width: 525px) {
    width: 75%;
  }
}

.active {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}
