.baseCard {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 30px;
  margin-bottom: 30px;
  border: solid 1px black;

  &:last-child {
    margin-bottom: 0;
  }

  @media only screen and (max-width: 525px) {
    padding: 5px 15px;
  }
}

.missionNameContainer {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  border-bottom: solid 1px gray;
  padding-bottom: 10px;

  h1,
  p {
    margin: 0;
  }

  p {
    margin-left: 8px;
    color: gray;
  }

  @media only screen and (max-width: 525px) {
    flex-direction: column;
    align-items: center;
    h1,
    p {
      text-align: center;
    }
  }
}

.missionOverview {
  padding: 10px 0;

  h3 {
    margin: 10px 0;

    &:not(:first-child) {
      margin-top: 30px;
    }
  }
  p {
    margin: 0;
    line-height: 26px;
  }
}
