.baseCard {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 30px;
  margin-bottom: 30px;
  border: solid 1px black;

  &:last-child {
    margin-bottom: 0;
  }

  @media only screen and (max-width: 525px) {
    padding: 5px 15px;
  }
}

.rocketNameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px gray;
  padding-bottom: 10px;

  .leftSide {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }

  .rightSide {
    font-style: italic;
  }

  .rocketName {
    margin: 0;
  }

  .rocketId {
    margin: 0;
    margin-left: 8px;
    color: gray;
  }

  .activeRocket {
    background-color: #61b15a;
    font-weight: bold;
    color: white;
    margin-left: 10px;
    padding: 2px 8px;
    border-radius: 6px;
  }

  .inactiveRocket {
    background-color: #a20a0a;
    font-weight: bold;
    color: white;
    margin-left: 10px;
    padding: 2px 8px;
    border-radius: 6px;
  }

  @media only screen and (max-width: 770px) {
    flex-direction: column;
    justify-content: center;

    .leftSide {
      display: block;
      justify-content: center;
      text-align: center;
      margin-bottom: 10px;
    }

    .activeRocket {
      width: fit-content;
      margin: 0 auto;
    }

    .inactiveRocket {
      width: fit-content;
      margin: 0 auto;
    }
  }
}

.rocketOverview {
  padding: 10px 0;

  div {
    margin-bottom: 22px;
  }
  .overviewTitle {
    margin: 10px 0;
  }

  .description {
    .descriptionText {
      margin: 0;
      line-height: 26px;
    }
  }

  .rowOverview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    margin-bottom: 0;

    table {
      td {
        vertical-align: top;
        line-height: 22px;
      }
    }

    .col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    @media only screen and (max-width: 750px) {
      grid-template-columns: 1fr;

      .col {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
